<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавить товар</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Добавить товар </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-info" href="#" th:href="@{/}"> Назад к списку товаров </a>
            <form action="#" class="form-horizontal"
                  th:action="@{/save}"
                  th:object="${form}"
                  method="post">
                <fieldset>
					<span class="pull-right">
						    <input type="submit" id="submitButton" class="btn btn-success" th:value="Сохранить">
						    <input type="reset" id="resetButton" class="btn btn-danger" th:value="Сбросить"/>
					</span>
                    <table class="table">
                        <thead>
                        <tr>
                            <th> Название</th>
                            <th> Цена</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="product, itemStat : *{products}">
                            <td><input th:placeholder="Название" th:field="*{products[__${itemStat.index}__].name}" required/></td>
                            <td><input th:placeholder="Цена" th:field="*{products[__${itemStat.index}__].price}" required/></td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>
